*{
	margin: 0px;
}
html{
	scroll-behavior: smooth;
}
.main{
	height: auto;
	width: 100%;
	float: left;
}
.top_menu{
	width: 100%;
	float: left;
	height: auto;
	box-shadow: 0px 0px 5px 0px black;
	position: sticky;
	top: 0px;
	background-color: white;
}
.main_menu{
	height: 80px;
	width: 90%;
	margin-left: 5%;
	float: left;
	background-color: white;
}
.menu_logo{
	height: 100%;
	float: left;
	width: 20%;
}
.menu_logo img{
	width: 200px;
	margin-top: 20px;
}
.menu_option{
	height: 100%;
	float: left;
	width: 60%;
}
.menu_option ul{
	height: 100%;
	width: 100%;
	float: left;
}
.menu_option ul li{
	list-style-type: none;
	display: inline-block;
	margin-top: 25px;
	margin-left: 30px;
	font-weight: bolder;
}
.menu_option ul li a{
	text-decoration: none;
	color: black;
}
.menu_btn{
	height: 100%;
	float: left;
	width: 20%;
}
.menu_btn button{
	height: 40px;
	width: 200px;
	margin-top: 20px;
	background-color: #00ab9f;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}
.menu_res_btn{
	display: none;
}
@media(max-width:667px){
.menu_logo{
	width: 80%;
}
.menu_option{
	display: none;
}
.menu_btn{
	display: none;
}
.menu_res_btn{
	display: inline-block;
	height: 100%;
	width: 20%;
	text-align: right;
	margin-top: 20px;
}
.menu_res_btn button{
	height: 30px;
	width: 40px;
}
}

/*  Slider Area  */
.slider_area{
	height: 550px;
	width: 100%;
	float: left;
	background-image: url('https://www.yudaah.com/demo/single-page-hospitapl/assets/images/slider/slider_1.jpg');
	background-size: 100% 100%;
}
.slider_color{
	height: 100%;
	width: 100%;
	float: left;
	background-color: hsla(197,100%,50%,0.7);
	text-align: center;
}
.slider_color h1{
	font-size: 60px;
	margin-top: 150px;
	color: white;
}
.slider_color p{
	font-size: 25px;
	margin-top: 20px;
	font-weight: bolder;
	color: white;
}
.slider_color button{
	height: 40px;
	width: 100px;
	margin-top: 20px;
	border: none;
}
@media(max-width:667px){
.slider_area{
	height: 400px;
}
.slider_color h1{
	font-size: 40px;
	margin-top: 40px;
}
.slider_color p{
	font-size: 20px;
}
}


/*features start*/
.features{
	height: auto;
	width: 100%;
	float: left;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #e8eaed;
}
.title{
	height: auto;
	width: 100%;
	float: left;
	text-align: center;
}
.title h2{
	font-weight: normal;
	font-size: 30px;
}
.title p{
	margin-top: 10px;
	margin-bottom: 10px;
}
.features_area{
	height: auto;
	width: 90%;
/*	background-color: black;*/
	margin-left: 5%;
	margin-top: 20px;
}
.features_contain{
	width: 30%;
	height: 300px;
	float: left;
	background-color: white;
	box-shadow: 0px 0px 5px 0px gray;
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;
}
.fea_mar{
	margin-left: 5%;
	margin-right: 5%;
}
.features_contain div{
	height: 80px;
	width: 80px;
	background-color: #00ab9f;
	border-radius: 50%;
	margin-left: 40%;
	margin-top: 20px;
}
.features_contain i{
	font-size: 30px;
	margin-top: 20px;
	color: white;
}
.features_contain h3{
	margin-top: 20px;
	font-size: 25px;
	font-weight: normal;
}
.features_contain p{
	font-size: 20px;
	margin-top: 20px;
}
@media(max-width:667px){
.features_contain{
	width: 100%;
}
.fea_mar{
	margin-left: 0px;
	margin-right: 0px;
}
}
/*features end*/

/*about_us start*/
.about_us{
	height: auto;
	width: 100%;
	float: left;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
}
.about_area{
	height: auto;
	width: 90%;
	float: left;
/*	background-color: black;*/
	margin-left: 5%;
}
.about_img , .about_desc{
	height: auto;
	width: 50%;
	float: left;
}
.about_desc h1{
	font-size: 35px;
	color: gray;
	text-indent: 10px;
}
.about_desc h2{
	font-size: 35px;
	color: darkblue;
	text-indent: 10px;
}
.about_desc p{
	padding: 20px;
	font-size: 21px;
	text-indent: 50px;
}
@media(max-width:667px){
.about_img , .about_desc{
	width: 100%;
}
.about_desc h1 , .about_desc h2{
	font-size: 25px;
}
.about_desc p{
	font-size: 15px;
	margin-top: 0px;
	padding-top: 0px;
}
}

/*about_us end*/

/*blog start*/

.blog{
	height: auto;
	width: 100%;
	float: left;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #e8eaed;
}


/*blog end*/

.contact_us{
	height: auto;
	width: 100%;
	float: left;
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}
.contact_us_area1{
	width: 50%;
	float: left;
	height: auto;
}
.contact_us_area2{
	width: 45%;
	float: left;
	height: auto;
}
.contact_title{
	height: auto;
	width: 100%;
	float: left;
}
.contact_title h2{
	margin-left: 20px;
}
.label_area{
	width: 30%;
	float: left;
	height: auto;
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}
.input_area{
	width: 70%;
	float: left;
	height: auto;
	margin-top: 20px;
}
.input_area input{
	width: 100%;
	height: 30px;
	background-color: lightgray;
}
.contact_btn{
	height: auto;
	width: 100%;
	float: left;
	text-align: center;
}
.contact_btn button{
	height: 40px;
	width: 150px;
	background-color: #00ab9f;
	color: white;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
}
@media(max-width:667px){
.contact_us_area1{
	width: 90%;
	margin-left: 5%;
}
.contact_us_area2{
	width: 90%;
	margin-left: 5%;
}
.label_area{
	width: 100%;
	text-align: left;
}
.input_area{
	width: 100%;
}
.contact_title{
	margin-top: 20px;
}
}

/*footer start*/
.footer{
	height: auto;
	width: 100%;
	float: left;
	background-color: #444444;
	padding-top: 50px;
	border-bottom: 50px;
}
.footer_area{
	width: 90%;
	float: left;
	height: auto;
	margin-left: 5%;
}
.footer_about{
	height: auto;
	width: 30%;
	float: left;
}
.footer_link{
	height: auto;
	width: 30%;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
}
.footer_contact{
	height: auto;
	width: 30%;
	float: left;
}
.footer_titel{
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer_about p{
	color: white;
	text-indent: 50px;
	margin: 0px;
	font-size: 20px;
	text-align: justify;
}
.footer_link ul li{
	margin-top: 20px;
	list-style-type: none;
}
.footer_link a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.footer_contact p{
	color: white;
	font-size: 22px;
}
@media(max-width:667px){
.footer_about{
	width: 100%;
	margin-top: 20px;
}
.footer_link{
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 20px;
}
.footer_contact{
	width: 100%;
	margin-top: 20px;
}
}


/*footer end*/